body {
    min-height: 100vh;
    margin: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 35%;
}

.right {
    width: 63%;
    padding-left: 3%;
}

.left1 {
    width: 63%;
    padding-right: 3%;
}

.right1 {
    width: 35%;
}

.first_image {
    width: 100%;
    border-radius: 10%;
    border: 1px brown solid;
}

.big_image {
    width: 85%;
}

.down {
    width: 100%;
}

p {
    font-family: 'Caveat';
    font-size: 21px;
}