* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header,
.footer {
    width: 100%;
    background-color: lightskyblue;
    color: blue;
    padding: 10px;
}

.content {
    margin-left: 250px;
    background-image: url(./ball.png);
    background-position: right;
    background-repeat: repeat-y;
}

.footer {
    clear: both;
}

@media screen and (max-width: 1100px) {
    .header,
    .footer {
        background-color: rgb(164, 182, 132);
    }
    .content {
        margin-left: 250px;
        background-image: url(./ball3.png);
        background-position: right;
        background-repeat: repeat-y;
    }
    .content img {
        width: 400px;
    }
}