* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1202px;
    height: 50px;
    background-color: gray;
}