* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

span {
    text-transform: uppercase;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


/* Chapter I */

.wrapper__1 {
    background-image: url(../Media/Rectangle.png);
    height: 840px;
    background-size: cover;
}

.header .container {
    padding-top: 0.1px;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.logo {
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    margin-top: 30px;
    float: left;
}

.header ul {
    float: right;
}

.header ul li {
    float: left;
    margin-top: 55px;
    margin-left: 40px;
}

.header ul li a {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.header ul li a:hover {
    text-shadow: 0 0 2px;
    transition: 0.4s;
}


/* Chapter II */

.menu__top {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
}


/* Chapter III */

.menu__middle {
    text-align: center;
    margin-top: 200px;
}

.menu__middle h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #D4C17F;
}


/* Chapter IV */

.menu_pointer p {
    text-align: center;
    margin-top: 100px;
}


/* Chapter V */

.menu__nav li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 90px;
    margin-top: 200px;
}

.menu__nav a {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.menu__nav li:first-child {
    background-image: url(../Media/Pointer.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}

.menu__nav li:last-child {
    background-image: url(../Media/Phone.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}

.menu__nav a:hover {
    text-shadow: 0 0 2px;
    transition: 0.4s;
}


/* Chapter VI */

.wrapper__2 {
    background-color: #242B33;
    height: 1250px;
}

.icon__top {
    margin: 0 auto;
}

.icon__top li {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    display: inline-block;
    margin-top: 120px;
    margin-left: 35px;
    margin-right: 35px;
}

.icon__top li:nth-child(1) {
    background-image: url(../Media/Icon_1.svg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 139px;
}

.icon__top li:nth-child(2) {
    background-image: url(../Media/Icon_2.svg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 139px;
}

.icon__top li:nth-child(3) {
    background-image: url(../Media/Icon_3.svg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 139px;
}

.icon__top li:nth-child(4) {
    background-image: url(../Media/Icon_4.svg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 119px;
}

.icon__background {
    background-image: url(../Media/II.png);
    background-position: bottom 50px right 50px;
    background-repeat: no-repeat;
    height: 420px;
}


/* Chapter VII */

.container_2 {
    width: 1500px;
    margin: 0 auto;
}


/* Chapter VIII */

.flat__background {
    height: 469px;
    background-image: url(../Media/III.png);
    background-position: bottom 85px left 0;
    background-repeat: no-repeat;
}

.flat h3 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
}


/* Chapter IX */

.gallery__1 li {
    display: inline-block;
    margin-top: 100px;
    margin-left: 7px;
    margin-right: 7px;
    font-family: 'Raleway';
    font-size: 24px;
    line-height: 28px;
}

.gallery__img_1 {
    width: 535px;
    height: 320px;
    background-image: url(../Media/loft_3.png);
    padding-top: 250px;
    padding-left: 50px;
}

.gallery__img_2 {
    width: 535px;
    height: 320px;
    background-image: url(../Media/loft_2.png);
    padding-top: 250px;
    padding-left: 50px;
}

.gallery__2 li {
    display: inline-block;
    margin-top: 30px;
    margin-left: 7px;
    margin-right: 7px;
    font-family: 'Raleway';
    font-size: 24px;
    line-height: 28px;
}


/* Chapter X */

.wrapper__3 {
    background-image: url(../Media/Big_image_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
}

.wrapper__3 .container {
    padding-top: 0.1px;
}


/* Chapter XI */

.look {
    margin-top: 180px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
}

.look_left {
    width: 50%;
    margin-top: 50px;
    font-size: 16px;
    line-height: 24px;
}

.look_right {
    width: 50%;
    float: right;
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
}


/* Chapter XII */

.look_right_1 li,
.look_right_2 li {
    display: inline-block;
}

.box {
    display: block;
    width: 255px;
    height: 50px;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.box_1,
.box_2 {
    background: #bebebe2a;
    font-size: 14px;
    line-height: 27px;
    border: 1px black solid;
    color: #FFFFFF;
    box-shadow: 8px 0px 8px #242B33;
}

.box_3 {
    font-size: 13px;
    line-height: 16px;
    color: #E7E7E7;
    padding: 0;
}

.box_4 {
    /* background: #D4C17F; */
    color: #242B33;
    box-shadow: 8px 0px 8px #242B33;
}


/* Chapter XIII */

.wrapper__4 {
    background-color: #242B33;
    height: 1680px;
}

.wrapper__4 .container {
    padding-top: 0.1px;
}

.video {
    margin: 200px;
}

.video__background {
    background-image: url(../Media/IV.png);
    background-position: bottom 35px right 10px;
    background-repeat: no-repeat;
    height: 420px;
}

.video__backgrounf__2 {
    background-image: url(../Media/video.png);
    width: 660px;
    margin: 0 auto;
    height: 500px
}


/* Chapter XIV */

.district__name {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin-top: 180px;
}

.map__background {
    height: 469px;
    background-image: url(../Media/V.png);
    background-position: bottom 130px left 30px;
    background-repeat: no-repeat;
}

.map {
    height: 360px;
    margin-top: 120px;
}


/* Chapter XV */

.question__name {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin-top: 180px;
}

.button li {
    display: inline-block;
    margin-top: 60px;
    margin-left: -1px;
}


/* Chapter XV */

.footer {
    background: #2D343C;
    height: 272px;
}

.footer .container {
    margin-top: px;
}

.footer__left {
    width: 25%;
}

.logo_2 {
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    margin-top: 60px;
    float: left;
}

.logo_3 {
    float: left;
}


/* Chapter XVI */

.footer__right {
    width: 73%;
    margin-top: 55px;
    margin-left: 25%;
}

.list {
    width: 100%;
}

.footer__1 {
    float: left;
    width: 33%;
    margin-top: -40px;
}

.footer__2 {
    width: 33%;
    margin-left: 33%;
}

.footer__3 {
    width: 33%;
    float: right;
    margin-top: -40px;
}

.footer__1 li,
.footer__2 li,
.footer__3 li {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
}

.footer__3 span {
    text-transform: none;
    color: #D4C17F;
}

.last li {
    display: inline-block;
    margin-right: 10px;
}