* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header,
.footer {
    width: 100%;
    background-color: lightskyblue;
    color: blue;
    padding: 10px;
}

.content {
    margin-left: 250px;
    background-image: url(./ball.png);
    background-position: right;
    background-repeat: repeat-y;
}

.footer {
    clear: both;
}

.fix {
    width: 100px;
    background-color: greenyellow;
    position: fixed;
    top: 10px;
    right: 10px;
    border: 1px solid green;
    padding: 5px;
}