* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Poppins';
}


/* ..........................................  Header  .......................................... */

.header {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    height: 690px;
    background: linear-gradient(218.65deg, #056088 37.74%, #023957 83.31%);
}


/* ..........................................  Header left part .......................................... */

.header_left {
    width: 680px;
    width: 30%;
    position: relative;
}

.header_left h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 77px;
    color: #FFFFFF;
    padding-top: 30px;
    padding-left: 82px;
}

.title {
    width: 740px;
    position: absolute;
    z-index: 2;
    margin-top: 83px;
    margin-left: 103px;
}

.title h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
    color: #FFFFFF;
}

.header_text {
    width: 445px;
    margin-top: 253px;
    margin-left: 103px;
}

.header_text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
}

.contact_button {
    padding: 22px 40px;
    display: block;
    text-align: center;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
    margin-left: 103px;
    margin-top: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
    border: none;
}

.contact_button:hover {
    background: darkorange;
    text-shadow: 0 1px 10px;
    transition: 0.4s;
}


/* ..........................................  Header right part .......................................... */

.header_right {
    display: flex;
    height: 690px;
    width: 70%;
}

.header_wrap {
    background-image: url(../Media/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 690px;
    width: 100%;
    clip-path: polygon(16px 692px, 1009px 689px, 1008px -5px, 295px -4px);
}

.header_menu {
    display: flex;
    justify-content: right;
    height: 108px;
    background-color: white;
}

.header_menu li {
    display: inline-block;
    padding-right: 40px;
    padding-top: 57px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #023957;
}

.header_menu li:last-child {
    padding-right: 70px;
}

.header_menu a:hover {
    color: darkorange;
    text-shadow: 0 1px 10px;
    transition: 0.4s;
}