* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Poppins';
    font-style: normal;
}

.container {
    width: 1440px;
    margin: 0 auto;
}


/* ..........................................  Header  .......................................... */

.header {
    display: flex;
    height: 690px;
    background: linear-gradient(218.65deg, #056088 37.74%, #023957 83.31%);
}


/* ..........................................  Header left part .......................................... */

.header_left {
    width: 680px;
    width: 30%;
    position: relative;
}

.header_left h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    line-height: 77px;
    color: #FFFFFF;
    padding-top: 30px;
    padding-left: 82px;
}

.title {
    width: 740px;
    position: absolute;
    z-index: 1;
    margin-top: 83px;
    margin-left: 103px;
}

.title h1 {
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
    color: #FFFFFF;
}

.header_text {
    width: 445px;
    margin-top: 253px;
    margin-left: 103px;
}

.header_text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
}

.contact_button {
    width: 200px;
    padding: 22px 40px;
    display: block;
    text-align: center;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
    margin-left: 103px;
    margin-top: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
    border: none;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 0px 5px rgba(255, 191, 113, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 0px 5px rgba(255, 191, 113, 0);
}

.contact_button:hover {
    background: darkorange;
    text-shadow: 0 1px 10px;
    transition: 0.4s;
    transform: scale(1.1);
}


/* ..........................................  Header popup .......................................... */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup_content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup_body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}

.popup_content {
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
    color: #FFFFFF;
    max-width: 800px;
    padding: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -200%) rotateX(45deg);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 0px 5px rgba(255, 191, 113, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 0px 5px rgba(255, 191, 113, 0);
}

.popup_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    margin: 0px 0px 1em 0px;
}

.popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    text-shadow: 0 1px 10px;
}


/* Здесь использовал формат svg, потому что хотел перекрасить иконки в оранжевый + возможность динамически менять цвет всех иконок, не ломая верстку */

.popup_phone {
    background-image: url(../Media/Phone_logo.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}

.popup_mail {
    background-image: url(../Media/Mail_logo.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}


/* ..........................................  Header right part .......................................... */

.header_right {
    display: flex;
    height: 690px;
    width: 70%;
}


/* Здесь выбирал между png и jpeg, с учетом того, что это первое, что видит пользователь, решил оставить формат jpeg, но без сжатия */

.header_wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url(../Media/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 690px;
    width: 100%;
    clip-path: polygon(16px 692px, 1009px 689px, 1008px -5px, 295px -4px);
}

.header_menu {
    display: flex;
    justify-content: right;
    height: 108px;
    background-color: white;
    width: 100%;
}

.header_menu li {
    display: inline-block;
    padding-right: 40px;
    padding-top: 57px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #023957;
}

.header_menu li:last-child {
    padding-right: 70px;
}

.header_menu a:hover {
    color: darkorange;
    text-shadow: 0 1px 10px;
    transition: 0.4s;
}

.header_gallery {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 50px;
    padding-bottom: 30px;
    width: 100%;
}

.header_gallery img {
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 0px 5px rgba(255, 191, 113, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 0px 5px rgba(255, 191, 113, 0);
}

.header_img {
    padding: 20px
}

.header_img:hover {
    transform: scale(1.1);
    transition: all 0.8s ease 0s;
}


/* ..........................................  Content part I (gallery & company) .......................................... */

.content {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}

.content_company {
    display: flex;
    width: 100%;
}

.content_gallery_box {
    width: 50%;
    position: relative;
}

.content_gallery {
    display: flex;
    gap: 20px;
}

.content_gallery img {
    vertical-align: top;
    padding-bottom: 20px;
}

.content_gallery img:hover {
    transition: all 0.8s ease 0s;
    transform: scale(1.1);
}

.gallery_column_1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.gallery_column_2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.gallery_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 90px;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 35%;
    left: 37%;
}

.gallery_circle p {
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #056088;
    background-image: url(../Media/Select_logo.svg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 70px;
}

.company_box {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 130px;
}

.company_box h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 170%;
    color: #056088;
}

.company_box p {
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    color: #434343;
    padding-top: 16px;
    width: 425px;
}

.company_box p:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #434343;
}

.company_statistic {
    display: flex;
    padding-top: 16px;
}

.company_statistic li {
    display: inline-block;
    padding-right: 62px;
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    color: #056088;
}

.contact_button_2 {
    width: 200px;
    padding: 22px 40px;
    display: block;
    text-align: center;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
    margin-top: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
    border: none;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 0px 5px rgba(255, 191, 113, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 0px 5px rgba(255, 191, 113, 0);
}

.contact_button_2:hover {
    background: darkorange;
    text-shadow: 0 1px 10px;
    transition: 0.4s;
    transform: scale(1.1);
}


/* ..........................................  Content part II (service) .......................................... */

.content_service {
    display: flex;
    width: 100%;
    padding-top: 100px;
    flex-direction: column;
}

.service_title {
    display: flex;
    justify-content: center;
}

.service_text {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.content_service h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 170%;
    color: #056088;
}

.content_service p {
    width: 348px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    color: #434343;
}

.service_list {
    margin-top: 32px;
}

.service_list li {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
}

.service_list li:first-child {
    padding-left: 0px;
}

.service_list h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    color: #434343;
    padding-top: 23px;
}

.service_list p {
    width: 230px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #434343;
    padding-top: 16px;
}


/* Здесь выбирал между png и jpeg, решил оставить формат jpeg, с сжатием 90% */

.service_box {
    width: 310px;
    padding-left: 40px;
    padding-top: 27px;
    padding-bottom: 10px;
}

.service_box:hover {
    background: url(../Media/service_background.jpg);
    transition: all 0.9s ease 0s;
    transform: scale(1.1);
}

.service_box:hover p,
.service_box:hover h2 {
    color: #FFFFFF;
}

.service_box:hover .service_img_1 {
    display: none;
}


/* ..........................................  Content part II (benefits) .......................................... */

.content_benefits {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.benefits_title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.benefits_title h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 170%;
    color: #056088;
}

.benefits_text {
    display: flex;
    justify-content: center;
}

.benefits_text p {
    width: 348px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    color: #434343;
}

.benefits_gallery {
    position: relative;
    padding-top: 32px;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
}

.benefits_gallery_box {
    position: absolute;
    display: flex;
    gap: 20px;
}

.benefits_box_1 {
    width: 420px;
    height: 313px;
    background-image: url(../Media/benefits_img_1.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.benefits_box_1 h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    color: #FFFFFF;
    padding-top: 35px;
}

.benefits_box_1 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 16px;
    width: 230px;
    margin: 0 auto;
}

.benefits_box_2 {
    width: 420px;
    height: 313px;
    background-image: url(../Media/benefits_img_2.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.benefits_box_2 h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    color: #FFFFFF;
    padding-top: 35px;
}

.benefits_box_2 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 16px;
    width: 306px;
    margin: 0 auto;
}

.benefits_box_3 {
    width: 420px;
    height: 313px;
    background-image: url(../Media/benefits_img_3.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.benefits_box_3 h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    color: #FFFFFF;
    padding-top: 35px;
}

.benefits_box_3 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 16px;
    width: 306px;
    margin: 0 auto;
}


/* ..........................................  Content part III (works) .......................................... */

.content_works {
    background-size: cover;
    background-image: url(../Media/works_background.jpg);
}

.works_title {
    padding-top: 173px;
    display: flex;
    justify-content: center;
}

.works_title h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 170%;
    color: #FFFFFF;
}

.works_text {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.works_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    color: #FFFFFF;
    width: 348px;
}

.works_gallery {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    width: 100%;
    gap: 20px;
}

.works_gallery img:hover {
    transition: all 0.9s ease 0s;
    transform: scale(1.2);
}

.work_gallery_box_1 {
    display: flex;
    width: 420px;
}

.box_1_column_1 img:last-child {
    padding-top: 15px;
}

.work_gallery_box_2 {
    display: flex;
    flex-direction: column;
    width: 420px;
}

.work_gallery_box_2 img:last-child {
    padding-top: 20px;
}

.work_gallery_box_3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 420px;
}

.box_3_column_2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}

.work_part_1 {
    display: flex;
}

.work_part_2 {
    display: flex;
}

.work_button_1 {
    display: flex;
    width: 100%;
    justify-content: end;
}

.work_line {
    padding-top: 55px;
    padding-right: 40px;
}

.work_button_2 {
    padding-right: 70px;
}

.content_clients {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 401px;
}

.white_box_1 {
    display: flex;
    width: 330px;
    height: 320px;
    background-color: #FFFFFF;
}

.white_box_2 {
    display: flex;
    width: 20px;
    height: 81px;
    background-color: #FFFFFF;
}

.part_1 {
    display: flex;
    flex-direction: column;
    position: relative;
}

.white_box_1 {
    display: flex;
    flex-direction: column;
}

.white_box_2 {
    bottom: 0;
    right: 0;
    position: absolute;
}

.white_box_title h2 {
    padding-left: 33px;
    font-weight: 600;
    font-size: 24px;
    line-height: 170%;
    color: #056088;
    padding-top: 51px;
}

.white_box_text p {
    padding-top: 16px;
    padding-left: 33px;
    width: 250px;
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    color: #434343;
}

.white_box_button {
    padding-left: 33px;
}

.clients_gallery {
    background: url(../Media/clients_img_1.jpg);
    width: 970px;
    height: 401px;
    position: relative;
}

.blue_box {
    display: flex;
    flex-direction: column;
    width: 416px;
    height: 266px;
    position: absolute;
    background: linear-gradient(1.17deg, #023957 -19.65%, #056088 93.67%);
    bottom: -70px;
    right: 0;
}

.blue_box p {
    width: 375px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
    padding-left: 50px;
    padding-top: 59px;
}

.blue_box h3 {
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
    padding-left: 50px;
    padding-top: 16px;
    padding-bottom: 30px;
}

.blue_box_icon {
    position: absolute;
    bottom: 125px;
    right: 345px;
}

.works_gallery img {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}


/* ..........................................  Content part IV (partners) .......................................... */

.content_partners {
    background-color: #FFFFFF;
}

.partners_list {
    margin-top: 180px;
    display: flex;
    justify-content: space-around;
}

.partners_list h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 170%;
    color: #056088;
}

.partners_list:nth-child(0) {
    height: 28px;
}

.partners_list:nth-child(1) {
    height: 30px;
}

.partners_list:nth-child(2) {
    height: 28px;
}

.partners_list:nth-child(3) {
    height: 24px;
}

.video {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    position: relative;
}

.video_box {
    width: 416px;
    height: 120px;
    position: absolute;
    background: linear-gradient(1.17deg, #023957 -19.65%, #056088 93.67%);
    bottom: -30px;
    right: 40px;
}

.video_box p {
    width: 300px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #FFFFFF;
    padding-top: 32px;
}

.offer {
    width: 1300px;
    margin: 100px auto;
    background: url(../Media/offer_background.jpg);
}

.offer h2 {
    width: 740px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 55px;
}

.offer p {
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 16px;
    width: 517px;
    margin: 0 auto;
}

.offer_button {
    display: flex;
    justify-content: center;
    padding-bottom: 55px;
    padding-top: 32px;
}

.offer_button_1 {
    width: 640px;
    height: 62px;
    padding-left: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: rgba(0, 0, 0, 0.4);
}

.offer_button_2 {
    width: 138px;
    height: 62px;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
    ;
}


/* ..........................................  Footer part V (partners) .......................................... */

.footer {
    margin-top: 100px;
    width: 100%;
    height: 380px;
    display: flex;
    background: #023957;
    padding-left: 180px;
    padding-top: 60px;
}

.main_column h1 {
    font-weight: 700;
    font-size: 66px;
    line-height: 77px;
    color: #FFFFFF;
}

.main_column p {
    padding-top: 16px;
    width: 200px;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    padding-bottom: 55px;
}

.footer_button {
    width: 158px;
    height: 72px;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
    padding: 23px;
}

.column_box {
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
    gap: 135px;
    padding-left: 150px;
}

.footer_column h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 170%;
    color: #FFFFFF;
    padding-bottom: 16px;
}

.footer_column p {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    padding-top: 16px;
}

.footer_sub {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 89px;
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    color: #434343;
    padding-top: 32px;
}


/* ..........................................  About part I (header) .......................................... */

.about_header {
    height: 450px;
    width: 100%;
    background: url(../Media/about_header.jpg);
}

.about_header_top {
    display: flex;
}

.about_header_title {
    width: 50%;
}

.about_header_top h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 77px;
    color: #FFFFFF;
    padding-top: 30px;
    padding-left: 82px;
}

.about_header_menu {
    display: flex;
    justify-content: right;
    height: 108px;
    width: 50%;
}

.about_header_menu li {
    display: inline-block;
    padding-right: 40px;
    padding-top: 57px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.about_header_menu li:last-child {
    padding-right: 70px;
}

.about_header_menu a:hover {
    color: darkorange;
    text-shadow: 0 1px 10px;
    transition: 0.4s;
}

.about_header h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
    width: 740px;
    margin: 0 auto;
    padding-top: 110px;
}


/* ..........................................  About part II (content) .......................................... */

.about_content {
    width: 100%;
    background: #FFFFFF;
    display: flex;
}

.about_gallery_box {
    width: 50%;
}

.about_text {
    width: 50%;
}

.about_text h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 170%;
    color: #056088;
    padding-top: 124px;
}

.about_text p {
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    color: #434343;
    width: 510px;
}

.about_gallery {
    margin-top: 100px;
    margin-left: 70px;
    width: 530px;
    height: 431px;
    background: url(../Media/about_gallery_background.jpg);
    background-repeat: no-repeat;
    position: relative;
}

.about_gallery_img {
    width: 433px;
    height: 221px;
    position: absolute;
    bottom: -50px;
    right: -110px;
}


/* ..........................................  About part III (home) .......................................... */

.about_home {
    background: url(../Media/home_background.jpg);
    width: 100%;
    height: 428px;
    margin-top: 125px;
    display: flex;
}

.home_text {
    width: 50%;
    padding-left: 90px;
}

.home_text h3 {
    padding-top: 55px;
    font-weight: 600;
    font-size: 24px;
    line-height: 170%;
    color: #FFFFFF;
}

.home_text span {
    font-style: italic;
    font-weight: 600;
    font-size: 32px;
    line-height: 55px;
    color: #FFFFFF;
}

.home_text p {
    width: 510px;
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
}

.home_img {
    width: 50%;
    padding: 20px;
}


/* ..........................................  Contact part I (header) .......................................... */

.contact_header {
    height: 450px;
    width: 100%;
    background: url(../Media/about_header.jpg);
}

.contact_header_top {
    display: flex;
}

.contact_header_title {
    width: 50%;
}

.contact_header_top h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 77px;
    color: #FFFFFF;
    padding-top: 30px;
    padding-left: 82px;
}

.contact_header_menu {
    display: flex;
    justify-content: right;
    height: 108px;
    width: 50%;
}

.contact_header_menu li {
    display: inline-block;
    padding-right: 40px;
    padding-top: 57px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.contact_header_menu li:last-child {
    padding-right: 70px;
}

.contact_header_menu a:hover {
    color: darkorange;
    text-shadow: 0 1px 10px;
    transition: 0.4s;
}

.contact_header h1 {
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
    width: 1030px;
    margin: 0 auto;
    padding-top: 110px;
}