body {
    min-height: 100vh;
}

.content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.left {
    width: 35%;
    position: relative;
}

.right {
    width: 65%;
    padding-right: 3%;
    position: relative;
}

.left1 {
    width: 65%;
    padding-right: 3%;
}

.right1 {
    width: 35%;
}

.first_image {
    width: 100%;
    border-radius: 10%;
    border: 1px brown solid;
}

.big_image {
    width: 85%;
}

.down {
    width: 100%;
}

.page {
    cursor: pointer;
}