body {
    margin: 50px;
}

.chuck {
    display: flex;
    justify-content: center;
    width: 400px;
    border: 1px brown solid;
}

.text {
    color: brown;
    border: 1px black solid;
    width: 500px;
}

.text1 {
    color: black;
}